POSTGRES_PORT=5432
POSTGRES_USER=tidewise
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_DB=tidewise_local
MYSQL_PORT=3306
OPENSPG_MYSQL_ROOT_PASSWORD=openspg
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
OPENSPG_MINIO_ACCESS_KEY=minio
OPENSPG_MINIO_SECRET_KEY=minio@openspg
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334
TIDEWISE_DB_HOST=postgres
TIDEWISW_DB_PASSWORD=replace-with-local-password
DATA_SERVICE_PORT=9011
MINIAPP_SERVICE_PORT=9012
ADMIN_SERVICE_PORT=9013
ADMIN_WEB_PORT=9014
MINIAPP_H5_PORT=10086
DATA_SERVICE_TOKEN=replace-with-local-data-service-token
ADMIN_SERVICE_TOKEN=replace-with-local-admin-service-token
ADMIN_ALLOWED_ORIGIN=http://127.0.0.1:9014
RAW_EVIDENCE_PUBLIC_BASE_URL=http://127.0.0.1:9000
TARO_APP_RESEARCH_SOURCE=api
