TIDEWISE_DB_HOST=host.docker.internal
TIDEWISW_DB_PASSWORD=replace-with-local-password
DATA_SERVICE_PORT=9011
MINIAPP_SERVICE_PORT=9012
ADMIN_SERVICE_PORT=9013
ADMIN_WEB_PORT=9014
MINIAPP_H5_PORT=10086
AGENTRUN_SERVICE_PORT=9080
AGENTRUN_DB_HOST=host.docker.internal
AGENTRUN_DB_PASSWORD=replace-with-local-agentrun-database-password
AGENTRUN_SERVICE_TOKEN=replace-with-local-agentrun-service-token
EMBEDDING_API_KEY=replace-with-local-dashscope-api-key
DATA_SERVICE_TOKEN=replace-with-local-data-service-token
ADMIN_SERVICE_TOKEN=replace-with-local-admin-service-token
ADMIN_ALLOWED_ORIGIN=http://127.0.0.1:9014
TARO_APP_RESEARCH_SOURCE=api
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=replace-with-local-neo4j-password
NEO4J_URI=bolt://host.docker.internal:7687
DATA_NEO4J_HEALTH_URI=bolt://host.docker.internal:7687
DATA_NEO4J_HEALTH_USERNAME=neo4j
DATA_NEO4J_HEALTH_PASSWORD=replace-with-local-neo4j-password
QDRANT_API_KEY=
QDRANT_URL=http://host.docker.internal:6333
AGENTRUN_QDRANT_URL=http://host.docker.internal:6333
