DATA_IMAGE=swr.example.invalid/tidewise/data:example-commit-sha
MINIAPP_IMAGE=swr.example.invalid/tidewise/miniapp:example-commit-sha
ADMINPORTAL_IMAGE=swr.example.invalid/tidewise/adminportal:example-commit-sha
ADMIN_IMAGE=swr.example.invalid/tidewise/admin:example-commit-sha

UAT_PUBLIC_BASE_URL=http://203.0.113.10
ADMIN_ALLOWED_ORIGIN=http://203.0.113.10:9014
RAW_EVIDENCE_PUBLIC_BASE_URL=https://tideai.example.invalid
TIDEWISW_DB_PASSWORD=replace-with-uat-data-database-password
DATA_SERVICE_TOKEN=replace-with-uat-data-service-token
ADMIN_SERVICE_TOKEN=replace-with-uat-admin-service-token
